
/*index*/
body {

    display: flex;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;

	background-image: linear-gradient(#111, #050505);


	/*--img-url: url(https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?w=350&h=350&fit=crop&crop=faces);*/
}

.frame {
	flex-shrink: 0;
	margin: 50px auto;
	height: calc(650px + 6vw);
	width: calc(300px + 6vw);
	border: calc(8px + 0.2vw) solid transparent;
	background-origin: border-box;
	background-clip: content-box, border-box;
	background-size: cover;
	background-color: rgba(17,52,82,.8);
	box-sizing: border-box;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}

.frame-1 {
	border-radius: 5%;
	/*background-image: var(--img-url), linear-gradient(#f9f047, #0fd850);*/
}
.basic{
    width: 100%;
    height: 100vh;
    background: url("../img/bg.png") center;
    /*-webkit-background-size: cover;*/
    background-size: cover;
}

.button-container{
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

.button{
    height: 100%;
    width: 75vh;
    margin: 1px 5px;
    flex: 1 0 20%;
    -webkit-appearance: none;
    box-shadow:
    -1px -1px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(255,255,255,.1);
    border-radius: 15%;
    border: 2px solid rgba(17,52,82,1);
    color: rgba(255,255,255,1);
    background: rgba(17,52,82,.5);
    outline: none;
    align-items: center;
    justify-content: center;
    padding: 1px;
}

.button:active{
    border-radius: 20%;
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}

.drop-container{
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    padding: 5%;

}

.drop{
    margin: auto;
    margin-bottom: 10px;
    display: block;
    width: 88%;
    height: 25%;
    border-radius: 5%;
    border: 2px solid rgba(17,52,82,1);
    box-shadow:
    -1px -1px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(255,255,255,.1);
    background-color: rgba(17,52,82,.1);
    font-size: 50%;
    color: rgba(255,255,255,1);
}

.diametrInput{
    margin: auto;
    margin-bottom: 10px;
    display: block;
    width: 7%;
    height: 20%;
    border-radius: 20%;
    border: 2px solid rgba(17,52,82,1);
    box-shadow:
    -1px -1px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(255,255,255,.1);
    text-align: center;
    background-color: rgba(17,52,82,.1);
    color: rgba(255,255,255,1);

}

.calk-container{
    height: 15%;
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

.calk-buttonC, .calk-buttonS{
    height: 100%;
    width: 55%;
    flex: 25%;
    -webkit-appearance: none;
    box-shadow:
    -1px -1px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(255,255,255,.1);
    border-radius: 15%;
    border: 2px solid rgba(17,52,82,1);
    outline: none;
    align-items: center;
    justify-content: center;
    padding: 1px;
}

.calk-buttonC{
    background: url("../img/circle.png");
    background-size: 100% 100%;
}

.calk-buttonS{
    background: url("../img/square.png") center no-repeat;
    background-size: 80% 80%;
}

.calk-buttonC:active, .calk-buttonS:active{
    border-radius: 20%;
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}


.calk-diametrInput{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
    width: 50%;
    height: 25%;
    border-radius: 20%;
    border: 2px solid rgba(17,52,82,1);
    box-shadow:
    -1px -1px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(255,255,255,.1);
    background-color: rgba(17,52,82,.1);
    color: rgba(255,255,255,1);
    text-align: center;
}



.calk-widthInput{
    margin: auto;
    margin-bottom: 10px;
    display: block;
    width: 50%;
    height: 25%;
    border-radius: 20%;
    border: 2px solid rgba(17,52,82,1);
    box-shadow:
    -1px -1px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(255,255,255,.1);
    background-color: rgba(17,52,82,.1);
    color: rgba(255,255,255,1);
    text-align: center;
}

.hw{
    width: 35%;
}

.result-container{
    height: 15%;
    display: flex;
    flex-wrap: wrap;
    padding: 5%;

}

.result-button{
    height: 100%;
    width: 40%;
    margin: auto 1%;
    margin-right: 2%;
    flex: 1 0 18%;
    -webkit-appearance: none;
    box-shadow:
    -1px -1px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(255,255,255,.1);
    border-radius: 15%;
    border: 2px solid rgba(17,52,82,1);
    color: rgba(255,255,255,1);
    background: rgba(17,52,82,.5);
    outline: none;
    align-items: center;
    justify-content: center;
    font-size: 90%;
    padding: 1px;
}

.result-button:active{
    border-radius: 20%;
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}


.result-label{
    margin: auto 1%;
    height: 40%;
    width: 2%;
    flex: 1 0 16%;
    -webkit-appearance: none;
    box-shadow:
    -1px -1px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(255,255,255,.1);
    border-radius: 15%;
    border: 2px solid rgba(17,52,82,1);
    color: rgba(255,255,255,1);
    background: rgba(17,52,82,.5);
    outline: none;
    align-items: center;
    justify-content: center;
    font-size: 90%;
    padding: 1px;
    text-align: center;
}


.save-container{
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

.save-button{
    height: 100%;
    width: 80%;
    margin: auto;

    -webkit-appearance: none;
    box-shadow:
    -1px -1px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(255,255,255,.1);
    border-radius: 10%;
    border: 2px solid rgba(17,52,82,1);
    color: rgba(255,255,255,1);
    background: rgba(17,52,82,.5);
    outline: none;
    align-items: center;
    justify-content: center;
    padding: 1px;
}

.save-button:active{
    border-radius: 20%;
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}

