{% extends 'base.html' %}

{% block title %}
Devis Laboratory
{% endblock %}

{% block body %}
<div class="basic">

    <div class="frame frame-1">
        <div class="button-container">
            <button class="button">List of Ingredients</button>
            <button class="button">Create Ingredient</button>
            <button class="button">Create Recipe</button>
            <button class="button">List of Recipes</button>
        </div>
        <div class="drop-container">
               <select class="drop">
                  <option value="free" selected>Free</option>
                  <option value="bronze">Bronze</option>
                  <option value="silver">Silver</option>
                  <option value="Gold">Gold</option>
                </select>

               <input class="diametrInput">

               <select class="drop">
                  <option value="free" selected>Free</option>
                  <option value="bronze">Bronze</option>
                  <option value="silver">Silver</option>
                  <option value="Gold">Gold</option>
               </select>

               <input class="diametrInput">

               <select class="drop">
                  <option value="free" selected>Free</option>
                  <option value="bronze">Bronze</option>
                  <option value="silver">Silver</option>
                  <option value="Gold">Gold</option>
                </select>

               <input class="diametrInput">
            </div>

            <div class="calk-container">
                <button class="calk-buttonC"></button>

                    <div class="hw">
                        <input class="calk-diametrInput" placeholder="Diametr">
                        <input class="calk-widthInput" placeholder="Width">
                    </div>
                <button class="calk-buttonS"></button>
            </div>

            <div class="result-container">
                <button class="result-button">Result</button>

                <label class="result-label">Price</label>
                <label class="result-label">Weight</label>

            </div>

            <div class="save-conteiner">
                <button class="save-button">Save</button>
            </div>

    </div>
</div>

{% endblock %}