{% extends 'base.html' %}

{% block title %}
Piece of Cake
{% endblock %}

{% block body %}
<div class="basic">

    <div class="frame frame-1">
        <div class="button-container">
            <a class="button" href="/ingList">List of Ingredients</a>
            <a class="button" href="/createIng">Create Ingredient</a>
            <a class="button" href="/createRecipe">Create Recipe</a>
            <a class="button" href="#">List of Recipes</a>
        </div>
        <div class="drop-container">
               <select class="drop">
                  <option value="free" selected>Free</option>
                  <option value="bronze">Bronze</option>
                  <option value="silver">Silver</option>
                  <option value="Gold">Gold</option>
                </select>

               <input type="number" min="0" class="diametrInput">

               <select class="drop">
                  <option value="free" selected>Free</option>
                  <option value="bronze">Bronze</option>
                  <option value="silver">Silver</option>
                  <option value="Gold">Gold</option>
               </select>

               <input type="number" min="0" class="diametrInput">

               <select class="drop">
                  <option value="free" selected>Free</option>
                  <option value="bronze">Bronze</option>
                  <option value="silver">Silver</option>
                  <option value="Gold">Gold</option>
                </select>

               <input type="number" min="0" class="diametrInput">
            </div>

            <div class="calk-container">
                <button class="calk-buttonC"></button>

                    <div class="hw">
                        <input class="calk-diametrInput" placeholder="Diametr">
                        <input class="calk-widthInput" placeholder="Width">
                    </div>
                <button class="calk-buttonS"></button>
            </div>

            <div class="result-container">
                <button class="result-button">Result</button>

                <label class="result-label">Price</label>
                <label class="result-label">Weight</label>

            </div>

            <div class="save-container">
                <button class="save-button">Save</button>
            </div>

    </div>
</div>

{% endblock %}